[myconfig]
database {
database_host = {{getv "/myapp/database/host"}}
database_port = {{getv "/myapp/database/port"}}
database_username = {{getv "/myapp/database/username"}}
database_password = {{getv "/myapp/database/password"}}
}
 
